//scss variables
$primary-color: #ff453e;
$secondary-color: #00a8cc;
$neutral-color3-dark: #323232;
$neutral-color3-light: rgb(238, 238, 238);

//CSS customs
.theme-light {
  --background-color: rgb(245, 245, 245);
  --neutral-color1: #21243d;
  --neutral-color2: #c4c4c4;
  --neutral-color3: rgb(51, 51, 51);
}

.theme-dark {
  --background-color: rgb(45, 45, 45);
  --neutral-color1: #d1d4ee;
  --neutral-color2: #4d4a57;
  --neutral-color3: rgb(73, 73, 75);
}

// functions

@function set-text-color($color) {
  @if (lightness($color) > 65) {
    @return $neutral-color3-dark;
  } @else {
    @return $neutral-color3-light;
  }
}
