//CSS customs
.theme-light {
  --primary-color: #ff6464;
  --secondary-color: #00a8cc;
  --background-color: rgb(245, 245, 245);
  --neutral-color1: #21243d;
  --neutral-color2: #8695a4;
  --neutral-color3: #c4c4c4;
}

.theme-dark {
  --primary-color: #ff6464;
  --secondary-color: #00a8cc;
  --background-color: rgb(45, 45, 45);
  --neutral-color1: #abb0d6;
  --neutral-color2: #5c92c9;
  --neutral-color3: #b39ffc;
}
