.header {
  color: var(--secondary-color);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "brand"
    "nav";
  width: 93%;
  margin: auto;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.brand {
  grid-area: brand;
  position: relative;
  width: fit-content;
  font-size: 3rem;

  // ribbon needs position: relative in parent element to work

  @include ribbon(20px, var(--fourth-color));
}

.nav {
  grid-area: nav;
  position: relative;
  width: fit-content;

  // ribbon needs position: relative in parent element to work
  @include ribbon(20px, var(--fourth-color));
  &__list {
    display: flex;
    gap: 1em;
  }

  &__link {
    color: var(--secondary-color);
  }
}
