.portfolio {
  margin: auto;
}

.tag-button {
  border: none;
  border-radius: 3px;
  padding: 0.25em;
  background-color: var(--neutral-color3);
  margin: 0.25em;
  cursor: pointer;
}

.portfolio-items-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  &__screenshot {
    height: 200px;
    object-fit: cover;
  }

  &__title {
    font-weight: 300;
    font-size: 1.3rem;
    padding: 0.25em;
  }

  &__description {
    font-weight: 300;
    font-size: 1rem;
    padding: 0.25em;
  }

  &__tag {
    font-size: 0.8rem;
    color: var(--neutral-color3);
    background-color: var(--neutral-color1);
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    padding: 0.25em;
    margin: 0.25em;
  }
}
