.theme-toggler {
  position: relative;
  border: none;
  cursor: pointer;
  width: 64px;
  height: 32px;
  background-color: var(--neutral-color2);
  border-radius: 15px;
  margin: 10px auto 10px auto;
  transition: all 150ms ease-in-out;
  font-size: 24px;

  &__switch {
    position: relative;
    border-radius: 50%;
    left: -14px;
    transition: all 150ms ease-in-out;

    &--on {
      transform: translateX(28px);
      -webkit-transform: translateX(28px);
      -ms-transform: translateX(28px);
      -moz-transform: translateX(28px);
      -o-transform: translateX(28px);
    }
  }
}
