.theme-toggler {
  position: relative;
  border: none;
  cursor: pointer;
  width: 64px;
  height: 32px;
  background-color: var(--neutral-color2);
  border-radius: 15px;
  margin: 10px auto 10px auto;
  transition: all 150ms ease-in-out;

  &__switch {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: $primary-color;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    transition: all 150ms ease-in-out;

    &--on {
      transform: translateX(31px);
      -webkit-transform: translateX(31px);
      -ms-transform: translateX(31px);
    }
  }
}
