// sass --watch src/styles/scss/index.scss src/styles/index.css
@import "resets";
@import "config";
@import "mixins";
@import "header";

// css custom props
:root {
  --primary-color: #031a6b;
  --secondary-color: #9cd2fc;
  --third-color: #021d27;
  --fourth-color: #0a85ff;
  --fifth-color: #0fcbfa;
}

.portfolio-item {
  transition: all 300ms ease-in-out;

  // CSSTransitions Component props

  &-enter {
    opacity: 0;
  }

  &-exit {
    opacity: 0;
  }
}
