// sass --watch src/styles/scss/index.scss src/styles/index.css
@import "resets";
@import "config";
@import "mixins";
@import "header";
@import "theme-toggler";
@import "portfolio";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap");

// css custom props
:root {
  --primary-color: #ff6464;
  --secondary-color: #00a8cc;
  --neutral-color1: #21243d;
  --neutral-color2: #8695a4;
  --neutral-color3: #c4c4c4;
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

// Global classes

.app {
  width: 93%;
  margin: auto;
}

.section-title {
  font-weight: 300;
  text-align: center;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--neutral-color1);
  border-radius: 75%;
}
