// sass --watch src/styles/scss/index.scss src/styles/index.css
@import "resets";
@import "config";
@import "mixins";
@import "header";

// css custom props
:root {
  --primary-color: #031a6b;
  --secondary-color: #9cd2fc;
  --third-color: #021d27;
  --fourth-color: #0a85ff;
  --fifth-color: #0fcbfa;
}

html {
  scroll-behavior: smooth;
}

.app {
  width: 100%;
  margin: auto;
  background-color: var(--third-color);
}

.about {
  height: 100vh;
}

.portfolio {
  height: 100vh;
}

.tag-button {
  &__input {
    width: 50px;
    --focus: 2px rgba(39, 94, 254, 0.25);
    outline: none;
    transition: box-shadow 0.2s;
  }
}

.contact {
  height: 100vh;
}

.portfolio-item {
  transition: all 300ms ease-in-out;

  // CSSTransitions Component props

  &-enter {
    opacity: 0;
  }

  &-exit {
    opacity: 0;
    font-size: 0;
  }
}
